.game-box {
  width: 32%;
  padding: 30px 0;
  background-color: #090b28;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  // border: 2px solid #373396;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  z-index: 10;

  &::after {
    content: "";
    position: absolute;
    top: -90px;
    z-index: -2;
    width: 40%;
    height: 74vh;
    transform-origin: center;
    background: linear-gradient(to left, #00ff87, #133a94);
    animation: rotate 4s linear infinite;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 3px;
    z-index: -1;
    background-color: #090b28;
    border-radius: 25px;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  // &::before {
  //   content: "";
  //   position: absolute;
  //   background-color: rgba(255, 255, 255, 0.1);
  //   width: 60px;
  //   height: 120vh;
  //   right: -70px;
  //   top: -20px;
  //   // transform-origin: center;
  //   transform:skew(-30deg) rotate(35deg);
  //   animation: slide 3s infinite linear;
  // }

  // @keyframes slide {
  //   100% {
  //   right: 890px;
  //   top: -400px;
  //   }
  // }

  .game-heading {
    font-family: "Nunito", sans-serif;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }

  .interval-container {
    background: linear-gradient(95.44deg, #bf44dc 0%, #6538ea 100%);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 80%;
    height: 200px;
    padding-bottom: 10px;
    justify-content: space-evenly;
    position: relative;
    z-index: 10;
    overflow: hidden;
    
    &::after {
      content: "";
      position: absolute;
      width: 30%;
      height: 550px;
      transform-origin: center;
    background: linear-gradient(to left, #59d102, #f3f520);
      z-index: -2;
      animation: rotateReverse 3s linear infinite;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 3px;
      border-radius: 12px;
      z-index: -1;
      background: linear-gradient(95.44deg, #bf44dc 0%, #6538ea 100%);
    }


    @keyframes rotateReverse {
      100%{
        transform: rotate(-360deg);
      }
    }

    .interval-heading {
      text-align: center;
      color: #fff;
      font-size: 24px;
    }

    .timer-wrapper {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 10px;

      .time-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        gap: 10px;

        .time-digit {
          width: 70px;
          height: 70px;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #090b28;
          color: #fff;
        }
      }

      .colon {
        color: #fff;
        font-weight: 600;
        font-size: 22px;
        align-self: flex-start;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
      }
    }
  }

  .paying-box {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;

    .paying-action {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;

      p {
        color: #a09edf;
      }

      h2 {
        color: #fff;
      }
    }

    .vertical-line {
      width: 1px;
      background-color: #373396;
      height: 50px;
    }

    .payout {
      align-items: flex-end;
    }
  }

  .game-btn {
    width: 80%;
    background-color: #bf44dc;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
  }
}
